.card-poetry{
  position: relative;
  width: 800px;
  padding: 200px;
  max-width: 85vh;
  height: 80vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  
}
.PoetryCard__cardContainer{
  display: flex;
  justify-content: center;
  margin-top:-680px;
  z-index: 1000;
}
.swipe{
    position: absolute;
}